 /*Tabicons display settings*/
 @media (max-width: 768px) {
    .tabicons{
        display: flex;
        margin-left: 15px;
    }
    .menu{
        display: none;
    }
  }
  
  @media (max-width: 480px) {
    .menu{
        display: block;
    }
    .tabicons{
        display: none;
    }
  }
  
  @media (max-width: 360px) {
    
  }

  @media (min-width: 769px) {
    .tabbox{
        display: flex;
        gap: 2.5rem;
    }
    .menu{
        display: none;
    }
  }
  

  /* Mobile menu (dropdown) */
  .dropdown {
    background-color: #172554;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .dropdown-item {
    padding: 1rem;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
  }


  
  